{% for ideas in ideas %}
    <div class="ideia">
        <img 
            src="{{ ideas.image }}" 
            alt="Imagem de {{ ideas.title }}">
        <div class="content">
            <h3>{{ ideas.title }}</h3>
            <p>{{ ideas.category }}</p>
            <div class="description">
                {{ ideas.description }}
            </div>

            <section class='button-ideias'>
                <a href="{{ ideas.link }}" target="_blanck" >Ir para a ideia</a>
                <button class="button">Excluir</button>
            </section>
        </div>
    </div>
{% endfor %}
